# ========================= Specific data formats =========================

.json
.yml
.yaml
.xml

# ========================= Image formats =========================

.png
.jpg
.jpeg
.ico
.icon
.svg
.webm

# ========================= Text formats =========================

.txt
.md

# ========================= Others =========================