# ========================= Specific data formats =========================

.json
.yml
.yaml
.xml

# ========================= Image formats =========================

.png
.jpg
.jpeg
.svg
.webm

# ========================= Others =========================